body {
    background-color: #BED1C8;
}
header {
    width: 90%;
    height: 100px;
    background-color: #91645D;
    border: 3px solid #103826;
    padding: 10px;
    margin: 25px;
}
nav {
    position: fixed;
    width: 90%;
    height: 50px;
    background-color: #346B52;
    top: 170px;
    left: 35px;
}
article {
    width: 65%;
    height: 200px;
    background-color: #D1C1BE;
    border: 5px solid #522620;
    position: relative;
    top: 15px;
}
aside {
    width: 40%;
    height: 420px;
    background-color: #6D9E87; 
    position: absolute;
    left: 50%;
    right: 10%;
    top: 235px;
}
footer {
    width: 100%;
    height: 50px;
    background-color: #330D07;
    color: #D1C1BE;
    position: fixed;
    bottom: 0px;
}
.articles {
    position: relative;
    left: 30px;
    top: 45px;
    width: 65%;
    height: 70%;
}